.flag {
    background-image: url({{path}});
    background-repeat: no-repeat;
    /* To support retina displays, the sprite's size is doubled. */
    background-size: {{width // 2}}px {{height // 2}}px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    box-sizing: content-box;
}

{% for flag in flags %}
.flag-{{flag.country_code}} {
        background-position: -{{flag.x // 2}}px -{{flag.y // 2}}px;
}
{% endfor %}
