.flag {
	/* Will be replaced with a Base64 url. */
	background-image: inline("{{sprite.path}}");
	background-repeat: no-repeat;
	background-size: {{sprite.width}}px {{sprite.height}}px;
	width: {{flag.width}}px;
	height: {{flag.height}}px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	box-sizing: content-box;
	border: 1px solid #e0e0e0;
}

/* Adds equal bottom and top margin to compensate for the difference between height and width. */
.flag-margin-compensate {
	margin-top: {{(flag.width - flag.height) // 2}}px;
	margin-bottom: {{(flag.width - flag.height) // 2}}px;
}

{% for country_code, position in flag.positions.items() %}
.flag-{{country_code}} {
	background-position: -{{position.x}}px -{{position.y}}px;
}
{% endfor %}
